body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

.heading {
  position: relative;
}

.title-heading {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
animation: appear 3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .title-heading {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 5px;
  word-spacing: 2px;
  font-weight: normal;
  font-size: 8rem;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  animation: appear 3s;
  }
}